*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

.player-card {
  border: solid 1px;
  border-radius: 12px;
  text-align: center;
  margin: 10px;
  }
h1 {
  text-align: center;
}

.single-player {
  border: solid 1px;
  border-radius: 12px;
  text-align: center;
  margin: 10px;
}